.editormd {
	width: 50%;
	height: 100%;
	margin-right: 10px;
	font-size: 16px;

	border-right: 1px solid #eee;
}

.editormd ::-webkit-scrollbar {
  height: 10px;
  width: 7px;
  background: rgba(0, 0, 0, 0.1);
}
.editormd ::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0.2);
}
.editormd ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.editormd ::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  /* Webkit browsers */
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  /* Firefox */
  -ms-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  /* IE9 */
  -o-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  /* Opera(Old) */
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  /* IE9+, News */
  background-color: rgba(0, 0, 0, 0.4);
}

.CodeMirror {
	height: 100%;
}