.notes {
    padding-left: 20px;
    height: 100%;
}
.notes__notebooks {
    overflow: auto;
    box-sizing: border-box;
}
.notes__notebook {
	padding-left: 10px;
	line-height: 28px;
	cursor: default;
}
.notes__notebook:hover {
	background-color: #eee;
}
.notes__notebook--active {
	background-color: #ccc;
}
.notes__notebook--active:hover {
	background-color: #ccc;
}
.notes__line {
    height: 6px;
    background-color: #ccc;
    border: 0;
    cursor: n-resize;
}
.notes__notes {
    overflow: auto;
}
.notes__note {
    padding-left: 10px;
    line-height: 28px;
	cursor: default;
}
.notes__note:hover {
	background-color: #eee;
}
